*.*
!*.cpp
!*.hpp
!*.h
!*.mm
!*.txt
!*.md
!*.png
!*.in
!*.proto
!*.yml
!*.icns
!*.ico
!*.rc
!.gitignore
!.gitmodules

!gradle/*
!gradle/**/*
gradle/.gradle

build_debug
build_release
test_debug
schema/cpp
